.infoIcon {
  top: 957px;
  left: 522px;
  width: 96px;
  height: 96px;
  overflow: hidden;
}
.handle,
.infoIcon,
.track {
  position: absolute;
}
.track {
  height: calc(100% - 0.23px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.23px;
  left: 0;
  border-radius: 203.85px;
  background-color: var(--m3-sys-dark-primary);
}
.handle {
  top: calc(50% - 24.46px);
  left: calc(50% - 24.46px);
  border-radius: 46.88px;
  background-color: var(--m3-sys-dark-on-primary);
  width: 48.92px;
  height: 48.92px;
}
.iconscheck24px {
  position: absolute;
  top: calc(50% - 16.31px);
  left: calc(50% - 16.31px);
  width: 32.62px;
  height: 32.62px;
}
.handleContainer {
  position: absolute;
  top: calc(50% - 48.54px);
  right: -16.31px;
  width: 97.85px;
  height: 97.85px;
}
.icon,
.switchDark {
  position: absolute;
  top: 709px;
  left: 755px;
  width: 106px;
  height: 65.23px;
}
.icon {
  top: 522px;
  left: 2316px;
  width: 87.5px;
  height: 87.5px;
}
.theScreensBelow {
  margin: 0;
}
.dragDropThe {
  margin-bottom: 0;
}
.dragDropTheSectionToIndic {
  margin: 0;
  padding-left: 96px;
}
.theScreensBelowContainer {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  display: inline-block;
  width: 4030px;
}
.icon1,
.infoParent {
  position: absolute;
  top: 592px;
  left: 631px;
  width: 128px;
  height: 128px;
}
.infoParent {
  top: 0;
  left: 0;
  width: 4030px;
  height: 1218px;
}
.groupParent {
  position: relative;
  width: 100%;
  height: 1218px;
  text-align: left;
  font-size: var(--font-inherit);
  color: var(--neutral-black);
  font-family: var(--font-inherit);
}
